
.content {
  font-family:'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', 'Osaka', 'MS PGothic', arial, helvetica, sans-serif;
  width: 94%;
  margin: 0 auto;
}

h2 {
	position: relative;
	padding: 0 .5em .3em 2em;
	border-bottom: 2px solid #F48FB1;
}
h2::before,
h2::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
h2::before {
	top: .4em;
	left: .4em;
	z-index: 2;
	width: 17px;
	height: 17px;
	background: #F48FB1;
}
h2::after {
	top: .8em;
	left: .8em;
	width: 13px;
	height: 13px;
	background: #F8BBD0;
}

h3 {
  padding: .25em 0 .25em .75em;
	border-left: 6px solid #F8BBD0;
}

/*-- label --*/

.label_wrap {
	width: 90%;
  max-width: 640px;
	margin: 0 auto;
	padding: 3% 0;
	margin-bottom: 20px;
	border: solid 1px #EEEEEE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.label_image {
	width: 40%;
	margin-left: 5%;
	display: inline-block;
}

.label_info {
	width: 35%;
	display: inline-block;
	float: right;
	margin-right: 10%;
}

.label_title {
	margin-top: 30%;
	text-align: center;
}

.label_title a {
	color: #616161;
	font-size: 24px;
	font-weight: bold;
}

.label_button {
	text-align: center;
  margin-top: 20%;
}

.label_button a{
	display: block;
	width: 100%;
	padding: 8px 0;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	transition: all 0.3s;
	background: #F48FB1;
	border-radius: 2%;
	-webkit-border-radius: 2%;
	-moz-border-radius: 2%;
}

.label_button a:hover {
	background: #F8BBD0;
}

.lable_button_only {
	width: 64%;
	max-width: 380px;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 30px;
}

.lable_button_only a {
	padding: 12px 12px;
}
